* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1564865878688-9a244444042a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  position: relative;
}

.Main-head {
  display: flex;
  flex-direction: column;
  font-family: serif;
  color: white;
}

.AboutMe {
  display: flex;
  flex-direction: column;
  font-family: serif;
  color: #caed89;
  background-color: #191a1c;
  padding: 5% 5%;
}

.about-me-desc {
  display: flex;
  padding: 5% 5%;
}

.Skill {
  display: flex;
  flex-direction: column;
  font-family: serif;
  color: #caed89;
  background-color: #191a1c;
  width: 100vw;
  height: 100vh;
  padding: 10%;
}

.navbar-links {
  float: right;
  background: #191a1c;
  position: fixed;
  top: -100%;
  /*   left: -100%; */
  width: 40vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: serif;
  transition: all 0.3s linear;
  color: blue;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  /* background: white; */
  position: fixed;
  top: -100%;
  /*   left: -100%; */
  /* width: 110vw; */
  /* height: 110vh; */
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar-button {
  position: fixed;
  top: -100;
  right: 0;
  z-index: 100;
  font-size: 50px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  color: white;
}

.container {
  width: 80%;
  margin: 0% auto;
}

.about-me-info {
  padding: 5%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #191a1c;
}

.cards {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  background: #191a1c;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0);
  flex: 1 1 150px; /*  Stretching: */
  margin: 5px;
}

.card-info {
  padding: 10px;
}

.card-info h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #caed89;
}

.card-info h2 {
  font-size: 17px;
  margin-bottom: 10px;
}

.card-info p {
  margin-bottom: 10px;
}

.card-links {
  display: flex;
}

.links {
  width: 49%;
  background-color: #caed89;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: #191a1c;
  transition-duration: 500ms;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.links:hover {
  background-color: #191a1c;
  color: #caed89;
}

.my-projects {
  font-family: serif;
  color: #caed89;
}

.p {
  font-family: serif;
  color: white;
}

.text {
  font-family: serif;
  color: white;
}

.contact {
  background-size: cover;
  font-family: sans-serif;
  padding: 5% 10%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 40px;
  background-color: #191a1c;
}

.form-item {
  background: #caed89;
  box-shadow: #caed89;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  transition-duration: 0.3s;
}

.form-label {
  font-family: serif;
  color: white;
}

.button {
  background: rgba(19, 19, 19, 0.507);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  color: white;
}

.button:hover {
  background: #caed89;
  color: #191a1c;
  font-family: serif;
}

.form {
  width: 500px;
  align-items: center;
  background-color: #191a1c;
}

.form-container {
  display: flex;
  justify-content: end;
  background-color: #191a1c;
}
